.modal-body, .modal-content {
  background-color: rgb(226, 203, 166);
  border-radius: 10px;
}

.modal-content {
  border: 6px solid  rgb(69, 71, 73);
}

.modal-title {
  font-size: 25px !important; 
  padding: 20px;
  font-family: Futura, Trebuchet MS, Arial, sans-serif;
  font-weight: bold;
  color:rgb(69, 71, 73);
}

.modal-btn {
  background-color: rgb(69, 71, 73);
  color:rgb(226, 203, 166);
  margin-bottom: 20px;
}

.modal-btn:hover {
  background-color: rgb(109, 106, 104);
  color:rgb(226, 203, 166);
}

.btn-close {
  position: relative;
  float: right;
  background-color: rgb(226, 203, 166);
}

.modal-footer{
  justify-content: center;
  border: 0px;
}